a {
	color: #333333;
	text-decoration: none;
	font-family: Arial, Tahoma;
	font-size: 16px;
}

.menu{
	width: 60%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 30%;
}

.menu li {
	list-style: none;
	padding: 25px 21px;
	background: #eeeeee;
	border: 1px solid #999999;
	height: 50%;
	float: left;
}

