.container {
	width: 930px;
	background-color: #fdfdfd;
	border: 1px solid #cfcfcf;



	/*border-radius: 3%;*/
	margin: 12px;
	font-size: 14px;
}


.info {
	width: 45%;
	border: 0px;
	margin: 0px;
	text-align: left;
	padding: 30px;
float: left;
}


.registration {
	width: 45%;
	margin: 0px;
	border: 0px;
float: left;
}

.slogan {
	width: 396px;
}

.slogan h1 {
	font-size: 16px;
}

.notice {
	margin: 30px auto 51px auto;
}

.notice span {
	font-size: 11px;
	color: #666;
	position: relative;
	bottom: 4px;

}

.gray-arrow {
	background-color: #a4a4a4;
	color: #fff;
	font-size: 13px;
	padding: 18px;
}



.description {
	width: 420px;
	margin: 25px 25px 30px 0px;
	border: 1px solid #e3e3e3;
	font-size: 14px;
}

.benefits {
	width: 100%;
	border: 1px dotted #e3e3e3;
	padding: 25px 20px 25px 40px;
}

.benefits:nth-child(2) {
	padding: 9px 20px 9px 40px;
}

.benefits img {
	float: left;
}

.benefits span {
	float: right;
}

.clearfix {
	clear: both;
}