/* Times Bold , PTSans Narrow*/

header {
	width: 100%;
	height: 141px;
	margin: 0;
	background: url(img/header_bg.jpg) repeat-x;
}

#top-menu {
	width: 960px;
	margin: auto;
	padding-top: 82px;
}

#logo {
	width: 364px;
	height: 52px;
	margin-top: -30px;
	background: url(img/logo.png) no-repeat;
	float: left;
}

#menu {
	list-style: none;
	font-size: 13px;
	font-family: 'Playfair Display SC', serif;
	float: right;
}

#menu ul li {
	float: left;
	margin-left: 32px;
}

#menu a {
	color: #B8C6AC;
	text-transform: uppercase;
	text-decoration: none;

}

#menu a:hover, #menu a.active {
	color: #fff;
}

/* FINISHED */

#slider {
	width: 100%;
	height: 384px;
	background:  url(img/slider-bg.jpg) repeat-x;
	padding-top: 15px;
}

#slider-container {
	width: 960px;
	height: 384px;
	margin: auto;
	background: url(img/banner.jpg) no-repeat;
	background-color: #E9E9E9;
	border: 1px solid #fff;
	position: relative;
	-webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.61);
	box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.61);
	
}

#slider-container ul {
	list-style: none;
	text-align: center;
	font-size: 30px;
	color: #4E5944;
	font-family: "Times New Roman", Times, serif;
	line-height: 50px;
	position: absolute;
  	top: 50%;
  	left: 60px;
  	margin-top: -125px;
}


/* FINISHED */

#promise {
	width: 100%;
	height: 218px;
	background:  url(img/promise-bg.jpg) repeat-x;
	/*margin-top: 3px;*/
	border-top: 1px solid #fff;
	position: relative;
	z-index: 10;
}


#promise-container {
	width: 960px;
	margin: auto;
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	padding: 25px 0px 0px 10px;
}

#info {
	width: 67.70%;
	/*box-sizing: border-box*/;
	float: left;
}

#info h1, #testimonials h2 {
	font-size: 19px;
	margin-bottom: 40px;
	font-weight: 700;
	font-family: "Times New Roman", Times, serif;
	color: #57614E;
}

#info p {
	font-size: 14px;
	width: 600px;
	line-height: 25px;
}

#info p a {
	color: #626262;
}

#testimonials {
	width: 32.30%;
	margin: 0px;
	/*box-sizing: border-box;*/
	float: left;
}

#testimonials h2 {
	text-transform: uppercase;
	font-weight: normal;
}

#testimonials blockquote {
	font-size: 14px;
	line-height: 25px;
	width: 260px;
}

#testimonials span {
	font-size: 14px;
	float: right;
}


/* FINISHED */

#benefits {
	width: 100%;
	height: 430px;
	background:  url(img/choose_us_bg.jpg) repeat-x;
}

#benefits-container {
	width: 960px;
	margin: auto;
	font-size: 14px;
	line-height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 30px;
	padding-left: 10px;
	color: #57614E;
}

#benefits h2 {
	font-size: 19px;
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	padding-bottom: 20px;
}

#benefits h3 {
	width: 214px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 0px 10px 0px;
}

#benefits img{
	height: 140px;
}

#benefits span {
	width: 214px;
	display: inline-block;
	line-height: 20px;
	margin-bottom: 15px;
}

#benefits article {
	margin-right: 30px;
	float: left;
}

#benefits article:nth-child(5) {
	margin-right: 0px;
}

.button {
	width: 96px;
	height: 27px;
	background:  url(img/button-bg.jpg) repeat-x;
	-webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
	margin-bottom: 50px;
}

.button a {
	font-size: 12px;
	color: #fff;

	margin: 11px;
	text-decoration: none;
}

/* FINISHED */


footer {
	width: 100%;
	height: 251px;
	background:  url(img/footer-bg.jpg) repeat-x;
}

#footer-container {
	width: 960px;
	margin: auto;
	color: #626262;
	font-size: 13px;
	line-height: 22px;
	font-family: Arial, Helvetica, sans-serif;
}