.prices {
	width: 300px;
	border-collapse: collapse;
	border: 1px solid #a52a2a;
	letter-spacing: 1px;
}

th {
	background-color: #a52a2a;
	color: #fff;
}

td {
	border: 1px solid #a52a2a;
	border-left: none;
	border-right: none;
	text-align: center;
	padding: 6px;
} 

tr td:nth-child(1) {
	text-align: left; /* Allignes text in first column */
}

tr:nth-child(odd) {
	background-color: #fff8dc;
}